.creator-box {
  display: flex;
  flex-direction: column;
  padding: 24px 14px 24px;
  transition: height 5s ease-in-out;
  
  @include respond-to('mobile') {
    max-width: unset;
    padding: 30px 75px 24px;
  }

  @include respond-to('laptop') {
    max-width: unset;
    padding: 30px 145px 24px;
  }
}