.creator-message-view {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__button-wrapper {
    width: 100%;
    padding-top: 30px;

    @include respond-to('mobile') {
      padding-top: 26px;
    }

    button {
      width: 100%;
    }
  }

  &__streamer-profile-info-description {
    text-align: center;
    margin: 0 auto;
    max-width: 215px;

    @include respond-to('mobile') {
      max-width: 264px;
    }
  }

  &__streamer-tips {
    display: grid;
    place-items: center;
    padding-bottom: 30px;
  }

  &__textarea-emoji {
    position: absolute;
    background: transparent;
    border: unset;
    right: 43px;
    bottom: 31px;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s ease-in-out;
      filter: brightness(100%);
    }
    
    &:hover {
      img {
        filter: brightness(200%);
      }
    }
  }
}